# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.sw?
*.swo

# Environment variables - 重要：不要提交包含敏感信息的 .env 文件
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Test
.pytest_cache/
.coverage
htmlcov/
tests/
alembic/

# Type check
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# SQL
sql/

# docs
docs/